@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;700&family=Montserrat:wght@400;700&display=swap');
/*
    Fonts
*/
$titleFont: 'Abhaya Libre', serif;
$textFont:'Montserrat', sans-serif;

/*
    Colors
*/
$mainBg: #252525;
$navBg: #1d1c1c;
$title: #c24545;
$text: #d5d2d2;
$section: #484747;

/*
    Breakpoints
*/

$mobile: 375px;
$tablet: 768px;
$laptop: 1280px;
$desktop: 1920px;